{% extends 'base_template.html' %}

{% load widget_tweaks %}

{% block content %}
    {% if items.count > 0 %}
        <div class="grid-x grid-padding-x">
            <div class="large-12 small-12 cell text-right">
                <a href="{% url 'create_list' %}">Create list</a>
            </div>

            {% for item in items %}
                <div class="large-3 small-12 cell text-center list-block">
                    <div class="row list-title">
                        {{ item.title|striptags }}
                          <small class="float-right">
                            <a href="{% url 'destroy_list' list_id=item.id %}" title="Delete list" class="destroy-list">x</a>
                        </small>
                    </div>
                    <div class="grid-x list-notes float-right">
                        <small>
                            <a href="{% url 'create_note' list_id=item.id %}" title="Create note">+</a>
                        </small>
                    </div>
                </div>
            {% endfor %}

            <div class="large-12 small-12 cell text-right">
                <a href="{% url 'create_list' %}">Create list</a>
            </div>
        </div>
    {% else %}
        <div class="text-center">No lists found...
            <a href="{% url 'create_list' %}">Create?</a>
        </div>
    {% endif %}
{% endblock %}